.venv/
__pycache__/
*.py[cod]
.DS_Store
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.mypy_cache/

omni.toml
omni.keys.toml
.env

.omni-cli/
uv.lock
omni_cli.egg-info/

# Temporary scripts
temp_scripts/*
